<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
	<title>Login</title>
</head>
<body>
	<h1>Instant AI Phone | Login</h1>
	<form action="/login" method="post">
		<label for="username">Username:</label>
		<input type="text" id="username" name="username"><br><br>
		<label for="password">Password:</label>
		<input type="password" id="password" name="password"><br><br>
		<input type="submit" value="Login">
	</form>
	<p>Don't have an account? <a href="/register">Create one</a></p>
</body>
</html>